<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block metatag %}
    {% endblock %}

    <title>EasyPlay{% if title %} | {{ title }}{% endif %}</title>

    <!-- FontAwesome import -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome/css/all.css') }}">

    <!-- My written CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base_layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/variables.css') }}">

    {% block styles %}
    {% endblock %}
</head>

<body>
    <div id="container">
        <header class="main-header">
            <nav class="nav-bar">
                <a class="logo-wrapper" href="{{ url_for('index') }}">
                    <i class="fas fa-play-circle fa-2x"></i>
                    <h1>EasyPlay</h1>
                </a>

                <div class="nav-wrapper">
                    <ul>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('user_logout') }}">logout</a></li>
                        {% else %}
                        <li><a href="{{ url_for('user_login') }}">Login</a></li>
                        <li><a href="{{ url_for('user_register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <div id="page-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

    {% block scripts %}
    {% endblock %}
</body>

</html>